<ol class="comment-list">
	<li class="comment">
		<article class="comment-body">
			<header class="comment-meta">
				<div class="comment-author vcard">
					<img alt="" src="images/team/03.jpg">
					<b class="fn">
						<a href="#" rel="nofollow" class="url">Eric B. Lawton</a>
					</b>

				</div>
				<!-- .comment-author -->
				<!-- .comment-metadata -->
			</header>
			<!-- .comment-meta -->

			<div class="comment-content">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
			</div>
			<footer class="comment-footer">
				<span class="edit-link">
					<i class="far fa-edit"></i>
					<a class="comment-edit-link" href="#">Edit</a>
				</span>
				<span class="entry-meta-divider">|</span>
				<div class="reply">
					<i class="far fa-share-square"></i>
					<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Reply</a>
				</div>
				<span class="entry-meta-divider">|</span>
				<div class="comment-metadata">
					<i class="far fa-clock"></i>
					<a href="#">
						<time datetime="2018-03-14T07:57:01+00:00">
							2 days ago
						</time>
					</a>
				</div>
			</footer>
			<!-- .comment-content -->


		</article>
		<!-- .comment-body -->
		<!-- .children -->
	</li>
	<li class="comment">
		<article class="comment-body">
			<header class="comment-meta">
				<div class="comment-author vcard">
					<img alt="" src="images/team/03.jpg">
					<b class="fn">
						<a href="#" rel="nofollow" class="url">Mary D. Santos</a>
					</b>

				</div>
				<!-- .comment-author -->
				<!-- .comment-metadata -->
			</header>
			<!-- .comment-meta -->

			<div class="comment-content">
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
					pellentesque eu, pretium quis, sem.
					Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
				</p>
			</div>
			<footer class="comment-footer">
				<span class="edit-link">
					<i class="far fa-edit"></i>
					<a class="comment-edit-link" href="#">Edit</a>
				</span>
				<span class="entry-meta-divider">|</span>
				<div class="reply">
					<i class="far fa-share-square"></i>
					<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Reply</a>
				</div>
				<span class="entry-meta-divider">|</span>
				<div class="comment-metadata">
					<i class="far fa-clock"></i>
					<a href="#">
						<time datetime="2018-03-14T07:57:01+00:00">
							2 days ago
						</time>
					</a>
				</div>
			</footer> <!-- Yorumların alt kısmında bulunan reply kısmı-->
			<!-- .comment-content -->
		</article>
		<!-- .comment-body -->
		<!-- .children -->
	</li>
	<!-- #comment-## -->

	<li class="comment">
		<article class="comment-body">
			<header class="comment-meta">
				<div class="comment-author vcard">
					<img alt="" src="images/team/03.jpg">
					<b class="fn">
						<a href="#" rel="nofollow" class="url">Eric B. Lawton</a>
					</b>

				</div>
				<!-- .comment-author -->
				<!-- .comment-metadata -->
			</header>
			<!-- .comment-meta -->

			<div class="comment-content">
				<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim </p>
			</div>
			<footer class="comment-footer">
				<span class="edit-link">
					<i class="far fa-edit"></i>
					<a class="comment-edit-link" href="#">Edit</a>
				</span>
				<span class="entry-meta-divider">|</span>
				<div class="reply">
					<i class="far fa-share-square"></i>
					<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Reply</a>
				</div>
				<span class="entry-meta-divider">|</span>
				<div class="comment-metadata">
					<i class="far fa-clock"></i>
					<a href="#">
						<time datetime="2018-03-14T07:57:01+00:00">
							2 days ago
						</time>
					</a>
				</div>
			</footer>
			<!-- .comment-content -->


		</article>
		<!-- .comment-body -->
		<ol class="children">
			<li class="comment">
				<article class="comment-body">
					<header class="comment-meta">
						<div class="comment-author vcard">
							<img alt="" src="images/team/03.jpg">
							<b class="fn">
								<a href="#" rel="nofollow" class="url">Timothy C. Dawson</a>
							</b>

						</div>
						<!-- .comment-author -->
						<!-- .comment-metadata -->
					</header>
					<!-- .comment-meta -->

					<div class="comment-content">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim.
						</p>
					</div>
					<footer class="comment-footer">
						<span class="edit-link">
							<i class="far fa-edit"></i>
							<a class="comment-edit-link" href="#">Edit</a>
						</span>
						<span class="entry-meta-divider">|</span>
						<div class="reply">
							<i class="far fa-share-square"></i>
							<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Reply</a>
						</div>
						<span class="entry-meta-divider">|</span>
						<div class="comment-metadata">
							<i class="far fa-clock"></i>
							<a href="#">
								<time datetime="2018-03-14T07:57:01+00:00">
									2 days ago
								</time>
							</a>
						</div>
					</footer>
					<!-- .comment-content -->


				</article>
				<!-- .comment-body -->
				<!-- .children -->
			</li>
			<!-- #comment-## -->
			<li class="comment">
				<article class="comment-body">
					<header class="comment-meta">
						<div class="comment-author vcard">
							<img alt="" src="images/team/03.jpg">
							<b class="fn">
								<a href="#" rel="nofollow" class="url">Mary D. Santos</a>
							</b>

						</div>
						<!-- .comment-author -->
						<!-- .comment-metadata -->
					</header>
					<!-- .comment-meta -->

					<div class="comment-content">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
							pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						</p>
					</div>
					<footer class="comment-footer">
						<span class="edit-link">
							<i class="far fa-edit"></i>
							<a class="comment-edit-link" href="#">Edit</a>
						</span>
						<span class="entry-meta-divider">|</span>
						<div class="reply">
							<i class="far fa-share-square"></i>
							<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Reply</a>
						</div>
						<span class="entry-meta-divider">|</span>
						<div class="comment-metadata">
							<i class="far fa-clock"></i>
							<a href="#">
								<time datetime="2018-03-14T07:57:01+00:00">
									2 days ago
								</time>
							</a>
						</div>
					</footer>
					<!-- .comment-content -->


				</article>
				<!-- .comment-body -->
				<!-- .children -->
			</li>
		</ol>
		<!-- .children -->
	</li>
	<!-- #comment-## -->
	<!-- #comment-## -->
</ol>