
@{
    ViewData["Title"] = "ImageList";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<section class="pt-6 pb-9">
    <div class="container-medium">
      
        <h2 class="mb-5">Galeri</h2>
        <div class="row g-2 g-sm-3">
            <div class="col-3">
                <a href="~/labourpestcustomer/assets/img/hotels/85.jpg" data-gallery="default-gallery">
                    <img class="img-fluid rounded-2" src="~/labourpestcustomer/assets/img/hotels/75.png" alt="">
                </a>
            </div>
            <div class="col-3">
                <a href="~/labourpestcustomer/assets/img/hotels/85.jpg" data-gallery="default-gallery">
                    <img class="img-fluid rounded-2" src="~/labourpestcustomer/assets/img/hotels/75.png" alt="">
                </a>
            </div>
            <div class="col-3">
                <a href="~/labourpestcustomer/assets/img/hotels/85.jpg" data-gallery="default-gallery">
                    <img class="img-fluid rounded-2" src="~/labourpestcustomer/assets/img/hotels/75.png" alt="">
                </a>
            </div>
            <div class="col-3">
                <a href="~/labourpestcustomer/assets/img/hotels/85.jpg" data-gallery="default-gallery">
                    <img class="img-fluid rounded-2" src="~/labourpestcustomer/assets/img/hotels/75.png" alt="">
                </a>
            </div>
            <div class="col-3">
                <a href="~/labourpestcustomer/assets/img/hotels/85.jpg" data-gallery="default-gallery">
                    <img class="img-fluid rounded-2" src="~/labourpestcustomer/assets/img/hotels/75.png" alt="">
                </a>
            </div>
        </div>

    </div><!-- end of .container-->
</section>