@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">

<head>
    <title>LabourPest</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @await Component.InvokeAsync("CssComponentViewPartial")

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div id="canvas">
        <div id="box_wrapper">
            @RenderBody()
        </div>
    </div>

    <!-- Gerekli JS dosyaları -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/canabicom/js/compressed.js"></script>
    <script src="~/canabicom/js/main.js"></script>

    <!-- 🟢 Yorumu düzenleme sistemini çalıştıran JS dosyası -->
    <script src="~/js/comment-edit.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
