
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->



<head>
	<title>LabourPest</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


  @await Component.InvokeAsync("CssComponentViewPartial")

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
 

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->


	<div id="login-form" class="ls modal c-gutter-0">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="container">
			<div class="row">
				<div class="col-md-6 ds column-overlay">
					<img src="~/canabicom/images/signup.jpg" alt="">
				</div>
				<div class="col-md-6 ls">
					<div class="divider-65 hidden-below-md"></div>
					<div class="divider-60 hidden-above-md"></div>
					<h4 class="special-heading text-center text-capitalize">Admin Giriş Paneli</h4>

					<form class="contact-form c-mb-30 c-gutter-20" method="post" asp-action="SignIN" asp-controller="Login">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group has-placeholder">
									<label for="name">Kullanıcı Adı <span class="required">*</span></label>

									<input type="text" aria-required="true" size="30" value="" name="WriterMail" id="name" class="form-control" placeholder="Kullanıcı Adı">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group has-placeholder">
									<label for="password">Password<span class="required">*</span></label>

									<input type="password" aria-required="true" size="30" value="" name="WriterPassword" id="password" class="form-control" placeholder="Şifre">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">

									<input type="checkbox" id="agree" name="agree" checked>
									<label for="agree">Site Kullanım Şartlarını Okudum Kabul Ediyorum..</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<a href="#" class="btn btn-with-border sign-in">Şifreni Mi Unuttun ?</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="form-group">
									<input class="btn btn-maincolor" type="submit" value="Giriş Yap">
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div> <!--Burası Login Kısmı-->
	<div id="login-form3" class="ls modal c-gutter-0">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="container">
			<div class="row">
				<div class="col-md-6 ds column-overlay">
					<img src="~/canabicom/images/signup.jpg" alt="">
				</div>
				<div class="col-md-6 ls">
					<div class="divider-65 hidden-below-md"></div>
					<div class="divider-60 hidden-above-md"></div>
					<h4 class="special-heading text-center text-capitalize">Müşteri Giriş Paneli</h4>

					<form class="contact-form c-mb-30 c-gutter-20" method="post" asp-action="SignIN" asp-controller="Login">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group has-placeholder">
									<label for="name">Kullanıcı Adı <span class="required">*</span></label>

									<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Kullanıcı Adı">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group has-placeholder">
									<label for="password">Password<span class="required">*</span></label>

									<input type="password" aria-required="true" size="30" value="" name="password" id="password" class="form-control" placeholder="Şifre">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">

									<input type="checkbox" id="agree" name="agree" checked>
									<label for="agree">Site Kullanım Şartlarını Okudum Kabul Ediyorum..</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<a href="#" class="btn btn-with-border sign-in">Şifreni Mi Unuttun ?</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="form-group">
									<input class="btn btn-maincolor" type="submit" value="Giriş Yap">
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div> <!--Burası Müşteri Giriş Kısmı-->

	<div id="login-form2" class="ls modal c-gutter-0">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ds column-overlay">
					<img src="~/canabicom/images/signup.jpg" alt="">
				</div>
				<div class="col-md-6 align-items-center d-flex flex-column justify-content-center ls">
					<div class="divider-65 hidden-below-md"></div>
					<div class="divider-60 hidden-above-md"></div>
					<h4 class="special-heading text-center text-capitalize">Mail Adresiniz</h4>

					<form class="contact-form c-mb-30 c-gutter-20" method="post" asp-action="SignIN" asp-controller="Login">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group has-placeholder">
									<label for="name2">Mail Adresiniz<span class="required">*</span></label>

									<input type="text" aria-required="true" size="30" value="" name="name" id="name2" class="form-control" placeholder="Mail Adresiniz">
								</div>
							</div>

							

						</div>
					@* 	<div class="row">
							<div class="col-sm-12">
								<a href="#" class="btn btn-with-border">Giriş Yap</a>
							</div>
						</div> *@
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="form-group">
									<input class="btn btn-maincolor" type="submit" value="Şifreyi Sıfırla">
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div> <!--Burası Register Kısmı-->
	@{
		bool showComponents = ViewData["ShowComponents"] == null || (bool)ViewData["ShowComponents"];
	}

	

	<div id="canvas">
		<div id="box_wrapper">
			@RenderBody()
			<!-- template sections -->
			 @if (showComponents)
        {
			<!--topline section visible only on small screens|-->
			@await Component.InvokeAsync("PageTopLineViewComponentPartial") <!--sayfanın üst kısmı sosyal medya alanlarının bulunduğu kısım-->
			

			<!-- header with two Bootstrap columns - left for logo and right for navigation -->
			@await Component.InvokeAsync("PageHeaderViewComponentPartial") <!-- Header Component Burası Sayfanın Üst Menülerinin ve Logonun bulunduğu kısım sağ kısımda Giriş yap butonu var-->

			

			@await Component.InvokeAsync("PageSliderViewComponentPartial") <!--Burası En Başta Bulunan Slider Kısmı Kalite Hizmet ile başlayan kısım-->
				@* @await Component.InvokeAsync("ProductAlternatifViewComponentPartial") <!--Burası Popüler Ürünlerin Başladığı Kısım--> *@
                @await Component.InvokeAsync("AboutUsViewComponentPartial") <!--Burası Hakkımızda Kısmı-->

			@await Component.InvokeAsync("ServicesViewComponentPartial") <!--Burası Servislerin Bulunduğu Kısım Ürünlerin Hemen Altında Bulunan Kısım-->

			@await Component.InvokeAsync("BrandsViewComponentPartial") @* MARKALAR *@ <!--Burası Markaların Bulunduğu Kısım-->

			@await Component.InvokeAsync("WhoWeUsViewComponentPartial") <!-- Vizyonumuz Misyonumuz'un bulunduğu Kısımlar-->

			@await Component.InvokeAsync("PhotosViewComponentPartial") <!--Resimlerin Bulunduğu Alan Fotoğraf Galerisi-->

			@await Component.InvokeAsync("CategoriesViewComponentPartial") <!--Kategorilerin Bulunduğu Alan-->

			@await Component.InvokeAsync("SubscribeViewComponentPartial")  <!--Bültenimize Abone Olun Kısmı..-->

			@await Component.InvokeAsync("BlogsViewComponentPartial") <!--Blogların Bulunduğu Kısım-->

			@await Component.InvokeAsync("FAQViewComponentPartial") <!--Yorumların ve Sıkça Sorulan Soruların bulunduğu alan-->

			@await Component.InvokeAsync("TestimonialsViewComponentPartial") <!--Yorumların Bulunduğu Kısım Sıkça Sorulanların hemen alt kısmı-->
			@await Component.InvokeAsync("DeliveryViewComponentPartial") <!--Teslimat Bilgilerinin Bulunduğu Kısım-->
			@await Component.InvokeAsync("LocationMapViewComponentPartial") <!--Haritanın ve konumun bulunduğu alan-->

			@await Component.InvokeAsync("FooterViewComponentPartial") <!--Footer Alanın Bulunduğu Kısım Aşağıda bulunan iletişim abone olma kısımlarının bulunduğu kısımlar-->

			@await Component.InvokeAsync("BorderTopViewComponentPartial") <!--Telif Haklarının Bulunduğu Kısım Tüm Hakları Saklıdır..-->
			
		}
		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->


	<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script src="~/canabicom/js/compressed.js"></script>
    <script src="~/canabicom/js/main.js"></script>


</body>


<!-- Mirrored from html.modernwebtemplates.com/canabicom/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Jan 2025 14:44:15 GMT -->
</html>
