<section class="ls container-px-0 s-py-70">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="owl-carousel widget widget_partners_carousel" data-center="false" data-margin="20" data-loop="true" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2">
					<a href="#">
						<img src="~/canabicom/images/partners/01.png" alt="">
					</a>
					<a href="#">
						<img src="~/canabicom/images/partners/02.png" alt="">
					</a>
					<a href="#">
						<img src="~/canabicom/images/partners/03.png" alt="">
					</a>
					<a href="#">
						<img src="~/canabicom/images/partners/04.png" alt="">
					</a>
					<a href="#">
						<img src="~/canabicom/images/partners/05.png" alt="">
					</a>
					<a href="#">
						<img src="~/canabicom/images/partners/06.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>