@model List<Brands>

<section id="brands" class="ls container-px-0 s-py-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="owl-carousel widget widget_partners_carousel"
                     id="partners-carousel"
                     data-center="false"
                     data-margin="20"
                     data-loop="true"
                     data-autoplay="true"
                     data-autoplay-timeout="2000"
                     data-responsive-lg="6"
                     data-responsive-md="4"
                     data-responsive-sm="3"
                     data-responsive-xs="2">
                    @foreach (var item in Model)
                    {
                        <a href="#">
                            <img src="@item.BrandsImage" alt="">
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


