<footer class="page_copyright ds ms s-py-15 s-bordertop">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-md-12 text-center">
				<p>&copy; Copyright <span style="color:white">Yunus İNAN</span> <span class="copyright_year">@DateTime.Now.Year</span> Tüm Hakları Saklıdır..</p>
			</div>

		</div>
	</div>
</footer>