<footer class="page_copyright ds ms s-py-15 s-bordertop">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-md-12 text-center">
				<p>&copy; Copyright <a href="https://www.instagram.com/yunusiinan/">Yunus İNAN</a> <span class="copyright_year">Tüm Hakları Saklıdır..</span> </p>
				<div class="credits">

					Tasarlayan <a href="https://www.instagram.com/yunusiinan/">Yunus İNAN</a>
				</div>
			</div>
		

		</div>
	</div>
</footer>