<section class="ls ms  map-section s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 text-center text-sm-left">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div id="map-vector"></div>
			</div>
			<div class="col-lg-5">
				<div class="divider-80 hidden-below-md hidden-above-lg"></div>
				<div class="divider-50 hidden-above-md"></div>
				<h6 class="special-heading sub-title"><span>Listing in Unated States</span></h6>
				<h2 class="special-heading">Canabicom Location</h2>
				<div class="divider-50 hidden-below-md"></div>
				<div class="divider-30 hidden-above-md"></div>
				<h6 class="thin">
					Alabama
				</h6>
				<ul>
					<li class="icon-inline">
						<div class="icon-styled icon-top color-main fs-14">
							<i class="fa fa-map-marker"></i>
						</div>
						<p>2688 Simpson Avenue Harrisburg, PA 17109</p>
					</li>
					<li class="icon-inline">
						<div class="icon-styled icon-top color-main fs-14">
							<i class="fa fa-phone"></i>
						</div>
						<p>+1 234 56 78</p>
					</li>
					<li class="icon-inline">
						<div class="icon-styled icon-top color-main fs-14">
							<i class="fa fa-envelope"></i>
						</div>
						<p>
							<a href="#"><span class="__cf_email__" data-cfemail="e98a8887888b808a8684a98c91888499858cc78a8684">[email&#160;protected]</span></a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>