@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<section class="ls ms  map-section s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 text-center text-sm-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="il-tooltip"></div>
                <div class="harita-wrap">
                    <div class="harita-wrap">
                        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(env.WebRootPath, "canabicom/svg/turkiye-haritasi-final.svg")))
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="divider-80 hidden-below-md hidden-above-lg"></div>
                <div class="divider-50 hidden-above-md"></div>
                <h1 class="special-heading sub-title"><span>Labour Pest ŞUBELERİMİZ</span></h1>
                <h2 class="special-heading">Türkiye</h2>
                <div class="divider-50 hidden-below-md"></div>
                <div class="divider-30 hidden-above-md"></div>
                <h3 class="thin">
                    Ege ve Akdeniz Bölgesi
                </h3>
                <ul>
                    <li class="icon-inline">
                        <div class="icon-styled icon-top color-main fs-14">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <p>
                            Elmalı Mahallesi 7.Sokak<br>
                            Zamanlar İş Merkezi No:18/406<br>
                            Muratpaşa/ANTALYA
                        </p>
                    </li>
                    <li class="icon-inline">
                        <div class="icon-styled icon-top color-main fs-14">
                            <i class="fa fa-phone"></i>
                        </div>
                        <p>+90 533 699 22 75</p>
                    </li>
                    <li class="icon-inline">
                        <div class="icon-styled icon-top color-main fs-14">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <p>
                            <a href="mailto:murat.koc@labourpest.com?subject=İlaçlama Talebi&body=Merhaba,%0A%0Aİlaçlama hizmeti hakkında bilgi almak istiyorum...">murat.koc@labourpest.com</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="~/css/turkiye-haritasi.css" />
