
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


<div class="form-check form-switch">
    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
    <label class="form-check-label" for="flexSwitchCheckDefault">Popüler Ürünler Sayfasını Aktifleştir</label>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" checked="">
    <label class="form-check-label" for="flexSwitchCheckChecked">Popüler Ürünler Alternatif Sayfasını Aktifleştir</label>
</div>
