@model List<WhoWeUs>

<section class="ls ms s-pt-xl-140 s-pt-lg-120 s-pt-md-80 s-pt-50 s-pb-xl-145 s-pb-lg-125 s-pb-md-85 s-pb-55  text-center text-sm-left">
	<div class="cover-image s-cover-right">
		<img src="~/canabicom/images/side-img1.jpg" alt="">
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-center">
					<h6 class="special-heading sub-title"><span>Vizyonumuz</span></h6>
					<h2 class="special-heading">Vizyonumuz</h2>
					<div class="divider-45 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<p>
						Sağlıklı Yaşam Alanları" ilkesiyle hareket ederek insan sağlığını ve konforunu tehdit eden tüm zararlıları yok etmek, yaşanabilir haşere ve kemirgenden arınmış hijyenik bir ortam oluşturmak
					</p>
					<p>
						Akademik bilgi ve tecrübeli uzman kadromuzla insan sağlığına en uygun yöntemleri kullanıp geliştirmek, teknolojik yeniliklere kayıtsız kalmadan müşteri memnuniyetini %100 en üst seviyede tutmak, sağlıklı, güvenilir ve ekonomik hizmet sunmaktır.
					</p>
					<div class="divider-50 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<a class="btn btn-maincolor medium-btn" href="#">Daha Fazla..</a>
				</div>

			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<section class="ls ms s-pt-xl-140 s-pt-lg-120 s-pt-md-80 s-pt-50 s-pb-xl-145 s-pb-lg-125 s-pb-md-85 s-pb-55  text-center text-sm-left">
	<div class="cover-image s-cover-left">
		<img src="~/canabicom/images/side-img2.jpg" alt="">
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-6">
				<div class="content-center">
					<h6 class="special-heading sub-title"><span>Misyonumuz</span></h6>
					<h2 class="special-heading">Misyonumuz</h2>
					<div class="divider-45 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<p>
						Çevreye duyarlı, toplumsal ve kültürel değerler açısından tam gelişmiş bir anlayış içerisinde sektöründe en iyi hizmeti, en teknolojik cihaz ve kimyasallarla, doğaya zarar vermeden uygulayıp, müşteri memnuniyetini en üst seviyede tutmaktır.
					</p>
					<p>
						Hizmet verdiğimiz kişi, kurum, kuruluşlar ve çalışanlarımız açısından oluşturduğumuz güvenirliği sürdürmek ve verdiğimiz hizmetin arkasında durarak tercih edilen bir firma ve uluslararası standartlara uygun hizmet sunarak Pest Kontrol Alanında Lider olmaktır.
					</p>
					<div class="divider-50 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<a class="btn btn-maincolor medium-btn" href="#">Daha Fazla..</a>
				</div>

			</div>

		</div>
	</div>
</section>

<section class="ls ms s-pt-xl-140 s-pt-lg-120 s-pt-md-80 s-pt-50 s-pb-xl-145 s-pb-lg-125 s-pb-md-85 s-pb-55  text-center text-sm-left">
	<div class="cover-image s-cover-right">
		<img src="~/canabicom/images/side-img3.jpg" alt="">
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-center">
					<h6 class="special-heading sub-title"><span>Kalite Politikamız</span></h6>
					<h2 class="special-heading">Kalite Politikamız</h2>
					<div class="divider-45 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<p>
						Müşterilerimizin mutluluğunu sağlamadan, bizlerinde mutlu olamayacağı ilkesiyle; sürekli müşteri memnuniyetini sağlamak,Hataları oluşmadan önleyerek ve yaptığımız hataların tekrarlanmaması için gerekli tedbirleri alarak Kalite Yönetim Sistemimizi sürekli iyileştirmek
					</p>
					<p>
						Tedarikçilerimizle hep birlikte kazanacağımız istikrarlı ilişkiler kurmak,
						Sahip olduğumuz kaynaklarımızı en az fire oluşturacak şekilde kullanarak bulunduğumuz çevreyi korumak.
						İlaçlama faaliyetlerinde insan sağlığına ve çevreye zarar vermemek,
						Halk sağlığında haşere ilaçları üretimimizde kaliteye önem vermek
						İş ciddiyeti disiplin ve konusunda uzmanlık.
						Dürüst güler yüzlü ve güvenilir yaklaşım.
						İş ahlakını bozmadan hizmet vermek.
						Ekip ruhu oluşturma profesyonel bakış.
						Mantıklı ve makul çözümleri zamanında önermek.
						Güvenilir olmak, kaliteli hizmet vermek.
						Hedefimiz en iyiyi sunmak ve devamlı kılmaktır.
						Kaliteli hizmet'te sektörüne örnek olmaktır.
					</p>
					<div class="divider-50 hidden-below-md"></div>
					<div class="divider-30 hidden-above-md"></div>
					<a class="btn btn-maincolor medium-btn" href="#">Daha Fazla..</a>
				</div>

			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>