<header class="page_header header-1 ls s-py-20 ">

	<div class="container">

		<div class="row ">
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
				<a href="index.html" class="logo">
                    <img src="~/canabicom/images/logo.png" />
					<span class="d-flex flex-column">
						<span class="logo-text color-darkgrey">Labour</span>
						<span class="logo-subtext">Pest</span>
					</span>
				</a>
			</div>
			<div class="col-xl-7 col-lg-6 col-md-5 col-sm-4 col-12 d-flex align-items-center justify-content-end ">
				<!-- main nav start -->
				<nav class="top-nav">
					<ul class="nav sf-menu">
					

						<li>
							<a href="#about">Ana Sayfa</a>
						</li>

						<li>
							<a href="#products">Hakkımızda</a>
						</li>

						<li>
							<a href="#blog">Bloglar</a>
						</li>
						
						<li>
							<a href="#gallery">Yorumlar</a>
						</li>
						<li>
							<a href="#box_wrapper">Diğer Menüler</a>
							<ul>
								
								<li>
									<a href="#faq">Ürünler</a>
								</li>
								<li>
									<a href="index-2.html">Galeri</a>
								</li>
								<li>
									<a href="index-alt.html">İletişim</a>
								</li>
								<li>
									<a href="index_static.html">Sık Sorulanlar</a>
								</li>
								<li>
									<a href="index_singlepage.html">Servislermiz</a>
								</li>
								<li>
									<a href="index_singlepage.html">Markalarımız</a>
								</li>
								<li>
									<a href="index_singlepage.html">Bültenimiz</a>
								</li>
								<li>
									<a href="index_singlepage.html">Kategoriler</a>
								</li>
							</ul>
						</li>
						<!-- contacts -->
						
						<!-- eof contacts -->
					
					
					</ul>
				</nav>
				<!-- eof main nav -->

			</div>
			<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 d-none d-sm-flex align-items-center justify-content-md-center justify-content-xl-end">
				<a href="#" class="btn btn-maincolor">Müşteri Girişi</a>
			</div>

		</div>

	</div>
	<!-- header toggler -->
	<span class="toggle_menu"><span></span></span>
</header>
<style>
	.btn-maincolor {
		width: 150px; /* Sabit genişlik */
		text-align: center; /* Yazıyı ortala */
		white-space: normal; /* Metnin birden fazla satıra yayılmasına izin ver */
		padding: 10px; /* Buton içindeki boşluk */
		font-size: 14px; /* Varsayılan boyuttan küçük */
		
	}

</style>