
@{
    ViewData["Title"] = "NotFoundMain";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="ls s-py-xl-70 s-py-lg-130 s-py-md-90 s-py-60 error-404 not-found page_404">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<header class="page-header ">
					<img src="img/404.png" alt="">
					<div class="divider-35 hidden-below-md"></div>
					<div class="divider-20 hidden-above-md"></div>
					<h6 class="special-heading sub-title text-center"><span>GALİBA Kayboldun</span></h6>
					<h2 class="special-heading">
						SAYFA BULUNAMADI !
					</h2>
				</header>
				<div class="divider-50 hidden-below-md"></div>
				<div class="divider-20 hidden-above-md"></div>
				<!-- .page-header -->
				<div class="page-content">
					<a href="/Home/Deneme" class="btn btn-maincolor">Ana Sayfa</a>
					<span>or</span>
					<a href="/Login/SignIN" class="btn btn-with-border">Giriş Yap</a>
				</div>

				<!-- .page-content -->
			</div>
		</div>
	</div>
</section>
