<section class="page_slider">
	<div class="mouse_down">
		<a href="#about"><img src="~/canabicom/images/mouse.png" alt=""></a>
		<svg width="320" height="45" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
			<g>
				<title>Layer 1</title>
				<g stroke="null" transform="translate(0,41) scale(0.10000000149011612,-0.10000000149011612) " fill="#000000" id="svg_1">
					<path stroke="null" d="m1473.10742,340.22054c-80.80281,-29.99595 -133.2782,-69.99055 -259.12626,-198.97314c-125.84807,-128.98259 -190.39744,-170.97692 -286.52491,-184.97503c-28.32742,-4.99933 271.66462,-7.99891 666.39101,-7.99891c394.72638,0 695.64718,2.99959 668.71292,6.99905c-98.4494,14.99798 -159.74809,53.99271 -290.23998,186.97476c-132.34943,134.98178 -177.39467,168.97719 -260.05503,197.97328c-51.54662,17.99757 -189.93304,17.99757 -239.15775,0l0,-0.00001z" id="svg_2" />
				</g>
			</g>
		</svg>
	</div>
	<div class="flexslider">
		<ul class="slides">
			<li class="ds cover-image s-overlay text-left">
				<img src="~/canabicom/images/slide01.jpg" alt="img">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer">

										<h2 class="text-capitalize intro_featured_word">
											<span class="color-main">Kaliteli Hizmet</span> &
											Kaliteli Anlayış..
										</h2>
										<p class="intro_after_featured_word text-sm-left">
											Sizi, sevdiklerinizi ve işletmenizi zararlılardan koruyoruz. Profesyonel ekibimizle hızlı ve güvenilir hizmet sunuyoruz.
										</p>
										<a href="#" class="btn btn-maincolor2 medium-btn">İletişime Geç</a>

									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container-fluid -->
			</li>
			<li class="ds cover-image s-overlay text-left">
				<img src="~/canabicom/images/slide02.jpg" alt="img">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer">

										<h2 class="text-capitalize intro_featured_word">
											<span class="color-main">Recreational</span> &
											Medical Marijuana
										</h2>
										<p class="intro_after_featured_word text-sm-left">
											Welcome to Canabicon! Our medical cannabis dispensary is one of the most renowned shops in.
										</p>
										<a href="#" class="btn btn-maincolor2 medium-btn">Buy now</a>

									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container-fluid -->
			</li>
			<li class="ds cover-image s-overlay text-left">
				<img src="~/canabicom/images/slide03.jpg" alt="img">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer">

										<h2 class="text-capitalize intro_featured_word">
											<span class="color-main">Recreational</span> &
											Medical Marijuana
										</h2>
										<p class="intro_after_featured_word text-sm-left">
											Welcome to Canabicon! Our medical cannabis dispensary is one of the most renowned shops in.
										</p>
										<a href="#" class="btn btn-maincolor2 medium-btn">Buy now</a>

									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container-fluid -->
			</li>
		</ul>
	</div> <!-- eof flexslider -->
</section>